.wrap-statistic { }
.statistic-list {
	padding: 0;
	margin: 0;
	list-style: none;

	display: flex;
	justify-content: space-between;
}
.statistic-item {
	display: block;
}
.item-title {
	font-size: 18px;
	line-height: 22px;
	color: var(--secondary-color);
}
.item-value {
	font-size: 25px;
	line-height: 30px;
	color: var(--white-color);

	margin-top: 10px;
}
