.wrap-header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.city {
	&.hide {
		display: none;
	}
}
.city-search {
	display: none;

	width: 580px;
	height: 98px;

	background: var(--white-color);
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
	border-radius: 8px;

	&.show {
		display: flex !important;
		align-items: center;
		justify-content: space-between;
    	overflow: hidden;
	}
	&_input {
		flex: 1 0 0;
		padding: 0;
		border-width: 0;
		padding-left: 32px;

		font-size: 30px;
		line-height: 36px;
		color: #000000;

		&:focus {outline: none;}
	}
	&_btn {
		padding: 0 30px;
		border: 0;
		background-color: transparent;

		font-size: 30px;
		line-height: 36px;
		color: #1086FF;

		cursor: pointer;
		height: max-content;

		&:focus {outline: none;}
	}
}

#wrap-city {
	&.hide {
		display: none;
	}
}
.current-city {
	font-size: 50px;
	line-height: 60px;
	color: var(--white-color);

	margin-bottom: 10px;
}
.city-buttons {
	&_btn {
		display: inline-block;

		font-size: 18px;
		line-height: 22px;
		color: var(--secondary-color);

		&:first-child {margin-right: 30px;}
		& img {vertical-align: middle;}
	}
}

.wrap-metric {
	position: relative;

	&:before {
		position: absolute;
		top: 6px;
		left: -15px;
		content: 'º';

		font-size: 18px;
		line-height: 22px;
		color: var(--secondary-color);
	}
}
.metric {
	overflow: hidden;
	display: flex;

	border: 1px solid var(--secondary-color);
	border-radius: 8px;
	
	&_btn {
		font-size: 18px;
		line-height: 22px;
		color: var(--secondary-color);

		width: 38px;
		height: 30px;

		&.active {
			color: var(--white-color) !important;
			background-color: rgba(255, 255, 255, 0.2);
		}
	}
}
