.weather {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.weaher-icon {
	width: 200px;
	height: 200px;

	img {
		display: block;
		width: 100%;
	}
}
.weather-temp {
	display: flex;
	
	font-size: 180px;
	line-height: 216px;
	text-align: center;
	color: var(--white-color);

	margin-left: 30px;
}
.weather-about {
	font-size: 25px;
	line-height: 30px;
	text-align: center;
	color: var(--white-color);
}
