@font-face {
	font-family: Lato;
	src: url(../fonts/Lato-Regular.ttf);
}

:root {
	--white-color: #fff;
	--secondary-color: rgba(255, 255, 255, .6);
	--blue-color: #498CEC;
}
:root[theme="dark"] {
	--white-color: #fff;
	--secondary-color: rgba(255, 255, 255, .6);
	--blue-color: #498CEC;
}

body {
	font-family: Lato;
	color: #fff;
	background-color: var(--blue-color);

	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.container {
	max-width: 1180px;
	padding: 0 20px;
	margin: 0 auto;
}

.btn {
	border: 0;
	background-color: transparent;
	padding: 0;
	cursor: pointer;
}

@import './header';
@import './weather';
@import './footer';
