.wrap-statistic { }
.statistic-list {
	padding: 0;
	margin: 0;
	list-style: none;

	display: flex;
	justify-content: space-between;
}
.statistic-item {
	display: block;
}
.item-title {
	font-size: 18px;
	line-height: 22px;
	color: var(--secondary-color);
}
.item-value {
	font-size: 25px;
	line-height: 30px;
	color: var(--white-color);

	margin-top: 10px;
}

@media screen and (max-width: $bk-lg) {
	.statistic-list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 20px;
		grid-row-gap: 20px;
	}
	.item-value {
		font-size: 22px;
	}
}

@media screen and (max-width: $bk-sm) {
	.statistic-list {
		grid-template-columns: repeat(1, 1fr);
		grid-column-gap: 10px;
		grid-row-gap: 15px;
	}
	.item-title {
		font-size: 16px;
		line-height: normal;
	}
	.item-value {
		font-size: 18px;
		line-height: normal;
		margin-bottom: 0;
	}
}
