.wrap-header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.wrap-city {
	&.hide {display: none;}
}
.city {}
.wrap-search {
	display: none;

	&.show {
		display: block;
		position: relative;
	}
}
.city-search {
	display: flex;
	align-items: center;

	height: 100px;
	width: 580px;

	border-radius: 8px;
	background-color: var(--white-color);
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);

	&_form {}
	&_input {
		border-width: 0;
		border-radius: inherit;
		padding: 0 32px;
		background-color: var(--white-color);

		height: 100%;
		flex: 1 0 0;

		font-size: 30px;
		line-height: 36px;
		color: #000000;

		&:focus {outline: none;}
	}
	&_btn {
		border: 0;
		background: transparent;
		padding-right: 32px;
		padding-left: 0;

		font-size: 30px;
		line-height: 36px;
		color: #1086FF;

		cursor: pointer;
		height: max-content;

		&:focus {outline: none;}
	}
}
.search-list {
	position: absolute;
	width: 100%;
	background: var(--white-color);
	border-radius: 8px;
	margin-top: 10px;
	z-index: 1;
	overflow: auto;
	height: 30vw;

	.search-item {
		color: #000000;
		font-size: 22px;
		padding: 10px 32px;
		cursor: pointer;
		width: max-content;

		&:hover {
			color: var(--blue-color);
		}
	}
}

.current-city {
	font-size: 50px;
	line-height: 60px;
	color: var(--white-color);
}
.city-buttons {
	margin-top: 10px;

	&_btn {
		display: inline-block;

		font-size: 18px;
		line-height: 22px;
		color: var(--secondary-color);

		&:first-child {margin-right: 30px;}
		& img {vertical-align: middle;}
		& svg {display: none;}
	}
}
.wrap-metric {
	position: relative;

	&:before {
		position: absolute;
		top: 6px;
		left: -15px;
		content: 'º';

		font-size: 18px;
		line-height: 22px;
		color: var(--secondary-color);
	}
}
.metric {
	overflow: hidden;
	display: flex;

	border: 1px solid var(--secondary-color);
	border-radius: 8px;
	
	&_btn {
		font-size: 18px;
		line-height: 22px;
		color: var(--secondary-color);

		width: 38px;
		height: 30px;

		&.active {
			color: var(--white-color) !important;
			background-color: rgba(255, 255, 255, 0.2);
		}
		
		&:focus {outline: none;}
	}
}

@media screen and (max-width: $bk-lg) {
	.wrap-metric {
		position: absolute;
		bottom: 15px;
		right: 20px;
	}

	.city, .city-search {
		width: 100%;
	}

	.city-search_btn {padding-right: 20px;}
	.city-search_input {padding: 0 20px;}
}

@media screen and (max-width: $bk-md) {
	.city-search {
		height: 60px;

		&_input, &_btn {
			font-size: 22px;
		}
	}
}

@media screen and (max-width: $bk-sm) {
	// поиск
	.city-search {
		height: 60px;

		padding: 0 20px;
		width: calc(100% - 40px);
		justify-content: space-between;

		&_input {
			width: 100%;
			flex: unset;
		}
		&_input, &_btn {
			font-size: 22px;
			padding: 0;
		}
	}

	// назвагие города
	.current-city {
		font-size: 40px;
	}
}

@media screen and (max-width: 420px) {
	// кнопки поиска и моей локации
	.city-buttons {
		position: absolute;
		top: 12%;
		right: 20px;

		@media screen and (max-width: 320px) {
			top: unset;
			bottom: 70px;
		}

		&_btn {
			display: flex;
			align-items: center;

			border: 1px solid var(--secondary-color);
			border-radius: 8px;

			&:first-child {
				padding: 6px;
				margin-right: 0;
				margin-bottom: 10px;
			}
			& span {display: none;}
			& svg {display: inline-block;}
		}
	}
}
